{%extends 'base.html'%}

{%block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <form class="border border-light p-5">

                        <p class="h4 mb-4 text-center">Sign up</p>
                    
                        <input type="text" id="defaultRegisterFormFirstName" class="form-control  mb-4" placeholder="First name">
                    
                        <input type="text" id="defaultRegisterFormLastName" class="form-control  mb-4" placeholder="Last name">
                        <input type="text" id="defaultRegisterFormFirstName" class="form-control  mb-4" placeholder="User name">
                    
                        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
                    
                        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    
                        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Minimal 8 characters lenght</small>
                    
                        <button class="btn btn-info my-4 btn-block pink darken-4" type="submit">Sign up</button>
                    
                    </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


{%endblock%}